
$form--width: 100%;

$form--padding: rem-calc(4) rem-calc(6);

$form--border: $border--width $border--stroke $color--light-grey;

$form--border--focus: $border--width $border--stroke $color--primary;

$form--font--size: $font--size--one;

$input--color: $color--black;

$input--focus--color: $color--black;

$input--bk-color: $color--white;

$input--focus--bk-color: $color--white;

$select--padding: rem-calc(4) rem-calc(6);
