
.container {
  max-width: rem-calc($wrapper-width);
  padding: $gutter $gutter--double;
  margin: 0 auto;
}

.container_tight {
  padding-top: $gutter--half;
  padding-bottom: $gutter--half;
}

.container_loose {
  padding-top: $gutter--double;
  padding-bottom: $gutter--double;
}

.container_fullWidth {
  max-width: none;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: -$gutter--half;
  margin-right: -$gutter--half;
}

.column {
  box-sizing: border-box;
  flex: 0 1 auto;
  padding-left: $gutter--half;
  padding-right: $gutter--half;
  margin-bottom: $gutter;
}

.block {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}

.col1 {
  width: 8.3333%;
}

.col2 {
  width: 16.6666%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.3333%;
}

.col5 {
  width: 41.6666%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.3333%;
}

.col8 {
  width: 66.6666%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.3333%;
}

.col11 {
  width: 91.6666%;
}

.col12 {
  width: 100%;
}

@media #{$xlrg-down} {

  .colXlrg1{
    width: 8.3333%;
  }

  .colXlrg2{
    width: 16.6666%;
  }

  .colXlrg3{
    width: 25%;
  }

  .colXlrg4{
    width: 33.3333%;
  }

  .colXlrg5{
    width: 41.6666%;
  }

  .colXlrg6{
    width: 50%;
  }

  .colXlrg7{
    width: 58.3333%;
  }

  .colXlrg8{
    width: 66.6666%;
  }

  .colXlrg9{
    width: 75%;
  }

  .colXlrg10{
    width: 83.3333%;
  }

  .colXlrg11{
    width: 91.6666%;
  }

  .colXlrg12{
    width: 100%;
  }
}

@media #{lrg-down} {

  .colLrg1{
    width: 8.3333%;
  }

  .colLrg2{
    width: 16.6666%;
  }

  .colLrg3{
    width: 25%;
  }

  .colLrg4{
    width: 33.3333%;
  }

  .colLrg5{
    width: 41.6666%;
  }

  .colLrg6{
    width: 50%;
  }

  .colLrg7{
    width: 58.3333%;
  }

  .colLrg8{
    width: 66.6666%;
  }

  .colLrg9{
    width: 75%;
  }

  .colLrg10{
    width: 83.3333%;
  }

  .colLrg11{
    width: 91.6666%;
  }

  .colLrg12{
    width: 100%;
  }
}

@media #{med-down} {

  .colMed1{
    width: 8.3333%;
  }

  .colMed2{
    width: 16.6666%;
  }

  .colMed3{
    width: 25%;
  }

  .colMed4{
    width: 33.3333%;
  }

  .colMed5{
    width: 41.6666%;
  }

  .colMed6{
    width: 50%;
  }

  .colMed7{
    width: 58.3333%;
  }

  .colMed8{
    width: 66.6666%;
  }

  .colMed9{
    width: 75%;
  }

  .colMed10{
    width: 83.3333%;
  }

  .colMed11{
    width: 91.6666%;
  }

  .colMed12{
    width: 100%;
  }
}

@media #{$sml-down} {

  .colSml1{
    width: 8.3333%;
  }

  .colSml2{
    width: 16.6666%;
  }

  .colSml3{
    width: 25%;
  }

  .colSml4{
    width: 33.3333%;
  }

  .colSml5{
    width: 41.6666%;
  }

  .colSml6{
    width: 50%;
  }

  .colSml7{
    width: 58.3333%;
  }

  .colSml8{
    width: 66.6666%;
  }

  .colSml9{
    width: 75%;
  }

  .colSml10{
    width: 83.3333%;
  }

  .colSml11{
    width: 91.6666%;
  }

  .colSml12{
    width: 100%;
  }

}

@media #{$xsml-down} {

  .colXsml1{
    width: 8.3333%;
  }

  .colXsml2{
    width: 16.6666%;
  }

  .colXsml3{
    width: 25%;
  }

  .colXsml4{
    width: 33.3333%;
  }

  .colXsml5{
    width: 41.6666%;
  }

  .colXsml6{
    width: 50%;
  }

  .colXsml7{
    width: 58.3333%;
  }

  .colXsml8{
    width: 66.6666%;
  }

  .colXsml9{
    width: 75%;
  }

  .colXsml10{
    width: 83.3333%;
  }

  .colXsml11{
    width: 91.6666%;
  }

  .colXsml12{
    width: 100%;
  }
}
