
.push1 {
  margin-left: 8.3333%;
}

.push2 {
  margin-left: 16.6666%;
}

.push3 {
  margin-left: 25%;
}

.push4 {
  margin-left: 33.3333%;
}

.push5 {
  margin-left: 41.6666%;
}

.push6 {
  margin-left: 50%;
}

.push7 {
  margin-left: 58.3333%;
}

.push8 {
  margin-left: 66.6666%;
}

.push9 {
  margin-left: 75%;
}

.push10 {
  margin-left: 83.3333%;
}

.push11 {
  margin-left: 91.6666%;
}

@media #{$xlrg-down} {


  .pushXlrg1 {
    margin-left: 8.3333%;
  }

  .pushXlrg2 {
    margin-left: 16.6666%;
  }

  .pushXlrg3 {
    margin-left: 25%;
  }

  .pushXlrg4 {
    margin-left: 33.3333%;
  }

  .pushXlrg5 {
    margin-left: 41.6666%;
  }

  .pushXlrg6 {
    margin-left: 50%;
  }

  .pushXlrg7 {
    margin-left: 58.3333%;
  }

  .pushXlrg8 {
    margin-left: 66.6666%;
  }

  .pushXlrg9 {
    margin-left: 75%;
  }

  .pushXlrg10 {
    margin-left: 83.3333%;
  }

  .pushXlrg11 {
    margin-left: 91.6666%;
  }
}

@media #{lrg-down} {

  .pushLrg1 {
    margin-left: 8.3333%;
  }

  .pushLrg2 {
    margin-left: 16.6666%;
  }

  .pushLrg3 {
    margin-left: 25%;
  }

  .pushLrg4 {
    margin-left: 33.3333%;
  }

  .pushLrg5 {
    margin-left: 41.6666%;
  }

  .pushLrg6 {
    margin-left: 50%;
  }

  .pushLrg7 {
    margin-left: 58.3333%;
  }

  .pushLrg8 {
    margin-left: 66.6666%;
  }

  .pushLrg9 {
    margin-left: 75%;
  }

  .pushLrg10 {
    margin-left: 83.3333%;
  }

  .pushLrg11 {
    margin-left: 91.6666%;
  }
}

@media #{med-down} {


  .pushMed1 {
    margin-left: 8.3333%;
  }

  .pushMed2 {
    margin-left: 16.6666%;
  }

  .pushMed3 {
    margin-left: 25%;
  }

  .pushMed4 {
    margin-left: 33.3333%;
  }

  .pushMed5 {
    margin-left: 41.6666%;
  }

  .pushMed6 {
    margin-left: 50%;
  }

  .pushMed7 {
    margin-left: 58.3333%;
  }

  .pushMed8 {
    margin-left: 66.6666%;
  }

  .pushMed9 {
    margin-left: 75%;
  }

  .pushMed10 {
    margin-left: 83.3333%;
  }

  .pushMed11 {
    margin-left: 91.6666%;
  }
}

@media #{$sml-down} {

  .pushSml1 {
    margin-left: 8.3333%;
  }

  .pushSml2 {
    margin-left: 16.6666%;
  }

  .pushSml3 {
    margin-left: 25%;
  }

  .pushSml4 {
    margin-left: 33.3333%;
  }

  .pushSml5 {
    margin-left: 41.6666%;
  }

  .pushSml6 {
    margin-left: 50%;
  }

  .pushSml7 {
    margin-left: 58.3333%;
  }

  .pushSml8 {
    margin-left: 66.6666%;
  }

  .pushSml9 {
    margin-left: 75%;
  }

  .pushSml10 {
    margin-left: 83.3333%;
  }

  .pushSml11 {
    margin-left: 91.6666%;
  }
}

@media #{$xsml-down} {


  .pushXsml1 {
    margin-left: 8.3333%;
  }

  .pushXsml2 {
    margin-left: 16.6666%;
  }

  .pushXsml3 {
    margin-left: 25%;
  }

  .pushXsml4 {
    margin-left: 33.3333%;
  }

  .pushXsml5 {
    margin-left: 41.6666%;
  }

  .pushXsml6 {
    margin-left: 50%;
  }

  .pushXsml7 {
    margin-left: 58.3333%;
  }

  .pushXsml8 {
    margin-left: 66.6666%;
  }

  .pushXsml9 {
    margin-left: 75%;
  }

  .pushXsml10 {
    margin-left: 83.3333%;
  }

  .pushXsml11 {
    margin-left: 91.6666%;
  }
}
