
.padding_none {
  padding: 0;
}

.paddingTop_none {
  padding-top: 0;
}

.paddingRight_none {
  padding-right: 0;
}

.paddingBottom_none {
  padding-bottom: 0;
}

.paddingLeft_none {
  padding-left: 0;
}

.padding_gutter {
  padding: $gutter;
}

.paddingTop_gutter {
  padding-top: $gutter;
}

.paddingLeft_gutter {
  padding-left: $gutter;
}

.paddingRight_gutter {
  padding-right: $gutter;
}

.paddingBottom_gutter {
  padding-bottom: $gutter;
}

.padding_halfGutter {
  padding: $gutter--half;
}

.paddingTop_halfGutter {
  padding-top: $gutter--half;
}

.paddingLeft_halfGutter {
  padding-left: $gutter--half;
}

.paddingRight_halfGutter {
  padding-right: $gutter--half;
}

.paddingBottom_halfGutter {
  padding-bottom: $gutter--half;
}

.padding_doubleGutter {
  padding: $gutter--double;
}

.paddingTop_doubleGutter {
  padding-top: $gutter--double;
}

.paddingLeft_doubleGutter {
  padding-left: $gutter--double;
}

.paddingRight_doubleGutter {
  padding-right: $gutter--double;
}

.paddingBottom_doubleGutter {
  padding-bottom: $gutter--double;
}

.margin_none {
  margin: 0;
}

.marginTop_none {
  margin-top: 0;
}

.marginRight_none {
  margin-right: 0;
}

.marginBottom_none {
  margin-bottom: 0;
}

.marginLeft_none {
  margin-left: 0;
}

.margin_gutter {
  margin: $gutter;
}

.marginTop_gutter {
  margin-top: $gutter;
}

.marginLeft_gutter {
  margin-left: $gutter;
}

.marginRight_gutter {
  margin-right: $gutter;
}

.marginBottom_gutter {
  margin-bottom: $gutter;
}

.margin_halfGutter {
  margin: $gutter--half;
}

.marginTop_halfGutter {
  margin-top: $gutter--half;
}

.marginLeft_halfGutter {
  margin-left: $gutter--half;
}

.marginRight_halfGutter {
  margin-right: $gutter--half;
}

.marginBottom_halfGutter {
  margin-bottom: $gutter--half;
}

.margin_doubleGutter {
  margin: $gutter--double;
}

.marginTop_doubleGutter {
  margin-top: $gutter--double;
}

.marginLeft_doubleGutter {
  margin-left: $gutter--double;
}

.marginRight_doubleGutter {
  margin-right: $gutter--double;
}

.marginBottom_doubleGutter {
  margin-bottom: $gutter--double;
}

.marginTop_auto {
  margin-top: auto;
}

.marginRight_auto {
  margin-right: auto;
}

.marginBottom_auto {
  margin-bottom: auto;
}

.marginLeft_auto {
  margin-left: auto;
}
