/**
 * @molecule Item List
 * @section List
 * @markup
 *  <section class="container itemList">
 *      <div class="row itemList_row">
 *          <div class="column itemList_column col-1">
 *              <input type="checkbox" name="item-one-select"/>
 *          </div>
 *          <div class="column itemList_column col-2">
 *              <p class="text itemList_text"><a href="#">Item Link</a></p>
 *          </div>
 *          <div class="column itemList_column col-6">
 *              <p class="text itemList_text">The items description can go here, the height will expand to accommodate it, so it can be quite long if it needs to be.</p>
 *          </div>
 *          <div class="column itemList_column col-3">
 *              <p class="text itemList_text text_align-right">
 *                  <button>Edit</button>
 *                  <button class="button_destructive ">X</button>
 *              </p>
 *          </div>
 *      </div>
 *      <div class="row itemList_row">
 *          <div class="column itemList_column col-1">
 *              <input type="checkbox" name="item-one-select"/>
 *          </div>
 *          <div class="column itemList_column col-2">
 *              <p class="text itemList_text"><a href="#">Item Link</a></p>
 *          </div>
 *          <div class="column itemList_column col-6">
 *              <p class="text itemList_text">The items description can go here, the height will expand to accommodate it, so it can be quite long if it needs to be.</p>
 *          </div>
 *          <div class="column itemList_column col-3">
 *              <p class="text itemList_text text_align-right">
 *                  <button>Edit</button>
 *                  <button class="button_destructive ">X</button>
 *              </p>
 *          </div>
 *      </div>
 *      <div class="row itemList_row">
 *          <div class="column itemList_column col-1">
 *              <input class="itemList_input" type="checkbox" name="item-one-select"/>
 *          </div>
 *          <div class="column itemList_column col-2">
 *              <p class="text itemList_text"><a href="#">Item Link</a></p>
 *          </div>
 *          <div class="column itemList_column col-6">
 *              <p class="text itemList_text">The items description can go here, the height will expand to accommodate it, so it can be quite long if it needs to be.</p>
 *          </div>
 *          <div class="column itemList_column col-3">
 *              <p class="text itemList_text text_align-right">
 *                  <button>Edit</button>
 *                  <button class="button_destructive ">X</button>
 *              </p>
 *          </div>
 *      </div>
 *  </section>
 */
.itemList {
  flex-wrap: nowrap;
  .itemList_row {
    border-bottom: $border;
    margin-bottom: $gutter--half;
  }
  .itemList_column {
    margin-bottom: $gutter--half;
  }
  .itemList_input {
    margin-bottom: 0;
  }
  .itemList_text {
    margin-bottom: 0;
  }
}

@media #{$sml-up} {

}

@media #{$med-up} {

}

@media #{$lrg-up} {

}

@media #{$xlrg-up} {

}
