
input,
textarea,
select {
  box-sizing: border-box;
  border: $form--border;
  padding: $form--padding;
  outline: none;
  font-size: $form--font--size;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $input--color;
  width: $form--width;
  max-width: 100%;
  display: block;
  background: $color--white;
  border-radius: $border--radius;
  margin: 0;
  transition: background-color 280ms ease-in-out, border-color 400ms ease-in-out;

  &[readonly] {
    background-color: $color--light-grey;
    border: $form--border;
  }

  &:focus {
    border: $form--border--focus;
    color: $input--focus--color;
  }

  &:disabled {
    background-color: $color--light-grey;
  }
}

.input_inline {
  display: inline-block;
  width: auto;
}

.input_valid {
  border-color: $color--valid;
}

.input_error {
  border-color: $color--error;
}

select {
  padding: $select--padding;
}

input[type="file"] {
  @extend input
}

label,
legend {
  display: block;
  font-size: $font--size--minus-one;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $text--color;
  margin: 0 0 rem-calc(6) 0;
}

select {
  width: $form--width;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-bottom: 0;
  width: auto;

  &:disabled {
    background-color: $color--light-grey;
  }
}

label {

}

.label_text {
  margin-bottom: $gutter--half;
}

.label_inline {
  display: inline;
}

.formField {
  margin-bottom: $gutter;
}

.formField_inline {
  display: flex;
  flex: 0 1 auto;
}

.formField_error {
  padding-top: $gutter--half;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: $font--size--minus-one;
  color: $color--red;
}

fieldset {
  padding: $gutter $gutter--half;
  margin-bottom: $gutter;
  border-radius: $border--radius;
}

.formField:last-of-type {
  margin-bottom: 0;
}

legend {
  font-size: $font--size--one;
  color: $text--color;
}
