
.table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    font-weight: $font--weight--bold;
  }

  td, th {
    padding: $gutter--half / 3 $gutter--half / 2;
    border: none;
    border-bottom: $border--width $border--stroke $color--light-grey;
  }

  td {
    text-align: left;
    font-weight: $font--weight--regular;
  }
}

.table_alternatingRows {

  tr:nth-child(odd) td:nth-child(odd) {
    background-color: $color--lighter-grey;
  }

  tr:nth-child(even) td:nth-child(odd) {
    background-color: $color--lightest-grey
  }

  tr:nth-child(odd) td:nth-child(even) {
    background-color: $color--lighter-grey;
  }

  tr:nth-child(even) td:nth-child(even) {
    background-color: $color--lightest-grey;
  }
}

.table_alternatingColumns {

  td:nth-child(odd) {
    background-color: $color--lighter-grey;
  }

  td:nth-child(even) {
    background-color: $color--lightest-grey
  }
}

.table_withHeaderButtons {
  th {
    padding: 0;
  }
}
